<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cps.OrangeHRM.New_User_OrangeHrm"/>
      <class name="com.cps.OrangeHRM.Demo3AddUser"/>
      <class name="com.cps.OrangeHRM.Demo1DeleteUser"/>
      <class name="com.cps.OrangeHRM.Demo2EditUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
